@model WebApplication1.ViewModels.CustomerFormViewModel
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">@(Model.Customer.Id == 0 ? "Create": "Edit") Customer</h2>
<br />


<div class="border" style="padding:30px;width:70%">
    <form asp-action="Save" method="post">
        @if (Model.Customer.Id != 0)
        {
            <input type="hidden" asp-for="Customer.Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Customer.Name">Name</label>
            </div>
            <div class="col-8">
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Customer.Birthdate">Date of Birth</label>
            </div>
            <div class="col-8">
                <input asp-for="Customer.Birthdate" class="form-control"/>
                <span asp-validation-for="Customer.Birthdate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Customer.MembershipTypeId">Membership Type</label>
            </div>

            <div class="col-8">
                <select style="width:100%;padding:6px" asp-for="Customer.MembershipTypeId"
                        asp-items="@(new SelectList(Model.MembershipTypes,"Id","Name"))">
                    <option value="">Select Membership Type</option>
                </select>
                <span asp-validation-for="Customer.MembershipTypeId" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Customer.IsSubscribedToNewsletter">
                    Subscribed to Newsletters
                </label>
            </div>

            <div class="col-1">
                <input asp-for="Customer.IsSubscribedToNewsletter" type="checkbox">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Customer.Id!=0 ? "Update":"Create")
                </button>
            </div>
            <div class="col-4">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>


    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}